
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
  Dziękujemy za kożystanie z naszych usług.  @Html.ActionLink("Przejdż do strony użytkownika", "Index", "Home")
    
</td>

